@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0; 
    padding: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    font-weight: 450;
}

body{
    background-color: #222;
}
.errMsg{
    height: 3rem;
    visibility: hidden;
}
.card{
    width: 100%;
    max-width: 480px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 3rem auto;
    border-radius: 1.4rem;
    padding: 40px 20px;
    text-align: center;

}
.search input{
    width: 85%;
    outline: none;
    border-radius:3rem;
    font-size: 1.1rem;
    height: 60px;
    text-align: center;
    padding: .8rem;
    border: #222;
    margin-bottom: .4rem;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search button{
    border: 0; 
    outline :0 ;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    cursor: pointer;
    height: 60px;

}
.search button img{
    width: 29px;
}
.weather{
    display: none;
}
.weather h1{
    font-size: 80px;
    font-weight: 400;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap: .3rem;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px ;
    margin-top: -10px;
}
